<% include partials/header %>

<title><%= title %></title>

<center>
<div class="container">
	<h5>WELCOME</h5>
	<p>
		Welcome to the Alexander Liquor Emporium.
	</p>

	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin congue mauris sit amet egestas semper. Etiam in lacus efficitur, aliquet erat sed, accumsan leo. Vestibulum sed vestibulum nisi, sed mattis ligula. Etiam lacinia eros sapien, elementum accumsan sem tincidunt non. Donec blandit suscipit lorem, eu tristique justo placerat eget. Quisque commodo consequat sapien, volutpat finibus arcu accumsan a. Donec vel dui lacus. Vivamus non sapien accumsan, faucibus purus sed, luctus quam. Quisque eleifend ligula ex, non efficitur lectus semper quis. Aliquam justo lectus, sagittis id tempus a, cursus quis lacus.
	</p>
	<p>
		Donec porta sed massa eget convallis. Aliquam vestibulum, tellus sed gravida suscipit, elit magna placerat nibh, in mollis ante justo sed tellus. Vestibulum leo justo, ornare id libero vitae, euismod molestie risus. Vivamus non libero a lorem posuere luctus id vel nisi. Aenean velit risus, pellentesque sed ipsum non, tincidunt pretium arcu. Nulla non mollis elit. Vivamus facilisis luctus ultrices. Curabitur velit lacus, euismod at lacinia sit amet, placerat a justo. Duis vel dui rutrum, cursus ex eget, ultricies turpis. Aliquam erat volutpat. Phasellus accumsan feugiat odio, eu malesuada velit cursus sit amet. Duis erat magna, volutpat quis turpis eget, consectetur luctus lectus. Aliquam pharetra enim sed viverra fermentum.
	</p>
	<p>
		Aliquam hendrerit rutrum lacus, sed volutpat ipsum scelerisque vitae. Phasellus placerat porta accumsan. Phasellus hendrerit justo sed interdum consectetur. Nulla in velit ac quam tincidunt ornare sed et dui. Suspendisse vel lacus sed ipsum tincidunt semper. Donec rutrum sodales eros ac pulvinar. In massa libero, hendrerit ac tincidunt ac, interdum ut felis. Nam tincidunt at ante nec elementum.
	</p>
</div>
</center>

		


<% include partials/footer %>